@import "tailwindcss";

@theme {
  --color-eproc-primary: #005580;
  --color-eproc-secondary: #12b0d0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 85, 128;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}
